doctype html
html
  head
    title Welcome!
    meta(name='description' content='Full Stack Developer for hire. Building great websites.')
    meta(name='keywords' content='Hire, Web Developer, Node.js, React.js, Winona MN, Dynamic, Developer, Full, Stack, Full Stack Developer')
    link(rel='stylesheet', type='text/css', href='../public/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300', rel='stylesheet')
    script(src='https://code.jquery.com/jquery-3.1.1.js', integrity='sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=', crossorigin='anonymous')
    script(src="../public/javascript/analytics.js")

  body
    .navbar
      #name Baker Swenson
      ul
        a(href='#service-page')
          li Services
        a(href='#projects-page')
          li Past Projects
        a(href='#contact-page')
          li Contact
    #pb0.parallaxbox(style="background-image: url('../public/images/background2.jpg');")
      div
        div
          #bio
            p
              | I have been working with websites for 4 years now. The process of web development excites me(concept, error handling, production). I love building a visual website from code. Powered with Node.js (backend), and React (Facebook's front end) to create update-to-date responsive websites.
    #service-page
      .label-container
        .label Services
      #card-container
        .card
          .card-name JAVASCRIPT
          .description Build dynamic web sites front (what runs on the user side) & back end (handles server).
        .card
          .card-name HTML5
          .description Html is the structure / layout of web page, the core of all websites.
        .card
          .card-name CSS3
          .description Css adds visual style and more recently small animations.
        .card
          .card-name NODE.JS
          .description Backend server enviorment combined Express equals fast websites.
        .card
          .card-name REACT.JS
          .description I am currently learning Facebook's front end framework, component based.
        .card
          .card-name SOCKET.IO
          .description Socket io uses web sockets for real time updates.
        #pledge
          p
            | I make real time data-driven web applications for people, with little over 4 years experience. I do not make wordpress plugins.
    #pb1.parallaxbox(style="background-image: url('../public/images/background.jpg');")
      #projects-page
         .label-container
           .label Past Projects
         #past-projects
           #past-container
             ul
               li
                 | Pass System (Winona Area Public Schools)
               ul
                 li
                   | Node.js
                 li
                   | Express
                 li
                   | Html, Javascript, Css
    #contact-page
      .label-container
        .label Contact
      #contact-box
        #contact-greetings Message Me!

         p Email me any questions or offers @ 
            a(href="mailto:baker.swenson@gmail.com") Here
        
    .footer  © 2017, from Winona, MN
  script(type='text/javascript', src='../public/javascript/main.js')
